{
    "AWSTemplateFormatVersion": "2010-09-09",
    "Description": "EC2 Tests for aws-cfn-resources gem",
    "Metadata": {

    },
    "Parameters": {

      "VpcCidrBlock" : {
        "Description" : "The CIDR block of the VPC used for testing.",
        "Default" : "10.1.0.0/16",
        "Type" : "String"
      },
      "SubnetCidrBlock" : {
        "Description" : "The CIDR block of the Subnet used for testing.",
        "Default" : "10.1.1.0/24",
        "Type" : "String"
      }
    
    },
    "Mappings": {

    },
    "Conditions": {

    },
    "Resources": {
      "VPC" : {
        "Type" : "AWS::EC2::VPC",
        "Properties" : {
          "CidrBlock" : { "Ref" : "VpcCidrBlock" }
        }
      },
      "Subnet" : {
        "Type" : "AWS::EC2::Subnet",
        "Properties" : {
          "CidrBlock" : { "Ref" : "SubnetCidrBlock" },
          "VpcId" : { "Ref" : "VPC" }
        }
      },
      "SecurityGroup" : {
        "Type" : "AWS::EC2::SecurityGroup",
        "Properties" : {
          "GroupDescription" : "Test Security Group", 
          "VpcId" : { "Ref" : "VPC" }
        }
      },
      "EIP" : {
        "Type" : "AWS::EC2::EIP"
      },
      "Instance" : {
        "Type" : "AWS::EC2::Instance",
        "Properties" : {
          "ImageId" : "ami-1ecae776",
          "InstanceType" : "t2.micro",
          "SubnetId" : { "Ref" : "Subnet" }
        }
      },
      "NetworkInterface" : {
        "Type" : "AWS::EC2::NetworkInterface",
        "Properties" : {
          "SubnetId" : { "Ref" : "Subnet" }
        }
      },
      "InternetGateway" : {
        "Type" : "AWS::EC2::InternetGateway"
      },
      "RouteTable" : {
        "Type" : "AWS::EC2::RouteTable",
        "Properties" : {
          "VpcId" : { "Ref" : "VPC" }
        }
      },
      "Volume" : {
        "Type" : "AWS::EC2::Volume",
        "Properties" : {
          "Size" : "10",
          "AvailabilityZone" : "us-east-1a"
        }
      }
    },
    "Outputs": {

    }
}
    