{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "IAM test template for the aws-cfn-resources gem",
  
  "Resources": {
    "IAMGroup" : {
      "Type" : "AWS::IAM::Group"
    },
    "IAMUser" : {
      "Type" : "AWS::IAM::User"
    },
    "RootRole" : {
      "Type": "AWS::IAM::Role",
      "Properties": {
        "AssumeRolePolicyDocument": {
          "Version" : "2012-10-17",
          "Statement": [ {
            "Effect": "Allow",
            "Principal": {
              "Service": [ "ec2.amazonaws.com" ]
            },
            "Action": [ "sts:AssumeRole" ]
        } ]
     },
        "Path": "/",
        "Policies": [ {
          "PolicyName": "root",
          "PolicyDocument": {
            "Version" : "2012-10-17",
            "Statement": [ {
              "Effect": "Allow",
              "Action": "*",
              "Resource": "*"
            } ]
          }
        } ]
      }
    },
    "RootInstanceProfile": {
      "Type": "AWS::IAM::InstanceProfile",
      "Properties": {
        "Path": "/",
        "Roles": [ {
          "Ref": "RootRole"
        } ]
      }
    },
    "IAMAccessKey" : {
      "Type" : "AWS::IAM::AccessKey",
      "Properties" : {
        "Status" : "Inactive",
        "UserName" : { "Ref" : "IAMUser" }  
      }
    }
  }
}
    