{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "S3 test template for the aws-cfn-resources gem",

  "Resources" : {
    "S3Bucket" : {
      "Type" : "AWS::S3::Bucket",
      "Properties" : {
        "AccessControl" : "Private"
      },
      "DeletionPolicy" : "Delete"
    }
  }
}